/*Igual*/
.buscador{
    position: absolute;
    left: 1035px;
    top: 87px;
}

.btnBuscar{
    position: absolute;
    left: 1219px;
    top: 87px;
}
.cabecera {
    position: absolute;
    width: 1348px;
    height: 123px;
    left: 0px;
    top: 0px;
    background: #03EBEB;
    z-index: 999; 
}

.dropdown {
    position: absolute;
    left: 260px;
    top:33px;
  }

  .btnProd{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
    background-color: #03EBEB;
    border-color: #03EBEB;
    border: none;

  }

  .btnProd:hover{
    color: #FFFFFF;
    background-color: #00A4BD;
  }

 
  .dropdown-content {
    display: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 36px;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #03EBEB;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }


  .linkHome-Page {
    position: absolute;
    width: 218px;
    height: 122px;
    left: 0px;
    top: 0px;
}

.linkFAQS {
    position: absolute;
    left: 935px;
    top: 33px;

 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.linkFAQS:hover{
    color: #FFFFFF;
    background-color: #00A4BD;
}

.linkNosotros {
    position: absolute;
    left: 753px;
    top: 33px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.linkNosotros:hover{
    color: #FFFFFF;
    background-color: #00A4BD;
}

.linkCitas {
    position: absolute;
    left: 632px;
    top: 33px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.linkCitas:hover{
    color: #FFFFFF;
    background-color: #00A4BD;
}

.linkServicios {
    position: absolute;
    left: 450px;
    top: 33px;

    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;

}

.linkServicios:hover{
    color: #FFFFFF;
    background-color: #00A4BD;
}

.linkJuguetes {
    position: absolute;
    left: 251px;
    top: 33px;

    width: 189px;
    height: 57px;

    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}



a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:active { text-decoration: none; }


.footer {
    position: absolute;
    width: 1348px;
    height: 250px;
    left: 0px;
    top: 3018px;

    background: #000000;
}

.line1{
    position: absolute;
left: 8.26%;
right: 60.56%;
top: 13.96%;
bottom: 86.04%;

border: 1px solid #FFFFFF;
transform: rotate(0.26deg);
}

.titFooter{
    position: absolute;
left: 42.85%;
right: 42.78%;
top: 8.55%;
bottom: 80.91%;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;
}

.line2{
    position: absolute;
left: 60.69%;
right: 8.12%;
top: 14.53%;
bottom: 85.47%;

border: 1px solid #FFFFFF;
transform: rotate(0.26deg);
}

.titVisitanos{
    position: absolute;
left: 8.26%;
right: 77.36%;
top: 27.92%;
bottom: 61.54%;

font-family: 'Arvo';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 43px;

color: #FFFFFF;
}

.direccion{
    position: absolute;
left: 8.26%;
right: 75%;
top: 44.73%;
bottom: 28.49%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}

.titContacto{
    position: absolute;
left: 39.44%;
right: 39.51%;
top: 27.92%;
bottom: 56.13%;

font-family: 'Arvo';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 43px;

color: #FFFFFF;
}

.contacto{
    position: absolute;
left: 39.44%;
right: 37.71%;
top: 44.73%;
bottom: 23.36%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}

.titEnlaces{
    position: absolute;
left: 65.76%;
right: 6.74%;
top: 27.92%;
bottom: 55.27%;

font-family: 'Arvo';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 43px;

color: #FFFFFF;

}

.derechos{
    position: absolute;
left: 34.79%;
right: 32.01%;
top: 82.34%;
bottom: 7.41%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}

.facebook{
    position: absolute;
left: 90.56%;
right: 7.64%;
top: 46.87%;
bottom: 45.87%;
}

.insta{
    position: absolute;
left: 90.56%;
right: 7.64%;
top: 63.13%;
bottom: 39.61%;
}

.twitter{
    position: absolute;
left: 90.56%;
right: 7.64%;
top: 81.13%;
bottom: 39.61%;
}

.introImagen{
    position: absolute;
    width: 1348px;
    height: 700px;
    left: 0px;
    top: 123px;
}

.pregunta{
    position: absolute;
width: 670px;
height: 120px;
left: 20px;
top: 155px;


font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 50px;
line-height: 36px;

color: #000000;

}

.familia{
    position: absolute;
width: 670px;
height: 120px;
left: 530px;
top: 485px;


font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 50px;
line-height: 36px;

color: #000000;

}

.claves{
    position: absolute;
width: 325px;
height: 120px;
left: 1000px;
top: 755px;


font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 50px;
line-height: 36px;

color: #000000;

}

.menu{
    position: absolute;
width: 1348px;
height: 938px;
left: 0px;
top: 823px;
background-color: #DC8585;
}

.line3{
    position: absolute;
left: 0.97%;
right: 67.85%;
top: 10.12%;
bottom: 100%;

border: 3px solid #000000;
transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.line4{
position: absolute;
left: 66.74%;
right: 0.87%;
top: 10.80%;
bottom: 100%;

border: 3px solid #000000;
transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.tipo1{
    position: absolute;
left: 43.26%;
right: 41.79%;
top: 7.54%;
bottom: 81.62%;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;
}

.elipse1 {
    position: absolute;
    left: 10%;
    right: 17.23%;
    top: 15%;
    bottom: 0%;
    border-radius: 50%;
    width: 221;
    height: 221;
    background-color:#A8A8A8
}

.nombre1 {
    position: absolute;
width: 230px;
height: 45px;
left: 120px;
top: 296px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.desc1{
    position: absolute;
width: 200px;
height: 90px;
left: 106px;
top: 328px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #000000;
}

.elipse2 {
    position: absolute;
    left: 33.5%;
    right: 17.23%;
    top: 15%;
    bottom: 0%;
    border-radius: 50%;
    background-color:#A8A8A8
}

.nombre2 {
    position: absolute;
width: 230px;
height: 45px;
left: 480px;
top: 296px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.desc2{
    position: absolute;
width: 200px;
height: 90px;
left: 430px;
top: 328px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #000000;
}

.elipse3 {
    position: absolute;
    left: 56.5%;
    right: 17.23%;
    top: 15%;
    bottom: 0%;
    border-radius: 50%;
    background-color:#A8A8A8
}

.nombre3 {
    position: absolute;
width: 270px;
height: 45px;
left: 710px;
top: 296px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.desc3{
    position: absolute;
width: 200px;
height: 90px;
left: 735px;
top: 328px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #000000;
}

.elipse4 {
    position: absolute;
    left: 80%;
    right: 17.23%;
    top: 15%;
    bottom: 0%;
    border-radius: 50%;
    background-color:#A8A8A8
}

.nombre4 {
    position: absolute;
width: 230px;
height: 45px;
left: 1050px;
top: 296px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.desc4{
    position: absolute;
width: 200px;
height: 90px;
left: 1050px;
top: 328px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #000000;
}


.elipse5 {
    position: absolute;
    left: 33.5%;
    right: 17.23%;
    top: 45%;
    bottom: 0%;
    border-radius: 50%;
    background-color:#A8A8A8
}

.nombre5 {
    position: absolute;
width: 230px;
height: 45px;
left: 475px;
top: 576px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.desc5{
    position: absolute;
width: 230px;
height: 90px;
left: 415px;
top: 606px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #000000;
}

.elipse6 {
    position: absolute;
    left: 56.5%;
    right: 17.23%;
    top: 45%;
    bottom: 0%;
    border-radius: 50%;
    background-color:#A8A8A8
}

.nombre6 {
    position: absolute;
width: 270px;
height: 45px;
left: 775px;
top: 576px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.desc6{
    position: absolute;
width: 200px;
height: 90px;
left: 740px;
top: 606px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #000000;
}

.instalaciones{
    position: absolute;
width: 1348px;
height: 868px;
left: 0px;
top: 1600px;
background-color: #DC8585;
}

.line5{
    position: absolute;
left: 0.97%;
right: 67.85%;
top: 2.12%;
bottom: 100%;

border: 3px solid #000000;
transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.line6{
position: absolute;
left: 66.74%;
right: 0.87%;
top: 2.80%;
bottom: 100%;

border: 3px solid #000000;
transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.tipo2{
    position: absolute;
left: 40.26%;
right: 41.79%;
top: 0.24%;
bottom: 81.62%;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;
}

.inst1{
    position: absolute;
width: 420px;
height: 265px;
left: 10px;
top: 99px;
}

.txtInst1{
    position: absolute;
width: 172px;
height: 38px;
left: 145px;
top: 387px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.inst2{
    position: absolute;
width: 420px;
height: 265px;
left: 460px;
top: 99px;
}

.txtInst2{
    position: absolute;
width: 252px;
height: 38px;
left: 555px;
top: 387px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.inst4{
    position: absolute;
width: 420px;
height: 265px;
left: 220px;
top: 439px;
}

.txtInst4{
    position: absolute;
width: 252px;
height: 38px;
left: 330px;
top: 725px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.inst3{
    position: absolute;
width: 420px;
height: 265px;
left: 910px;
top: 99px;
}

.txtInst3{
    position: absolute;
width: 252px;
height: 38px;
left: 1050px;
top: 387px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.inst5{
    position: absolute;
width: 420px;
height: 265px;
left: 690px;
top: 439px;
}

.txtInst5{
    position: absolute;
width: 252px;
height: 38px;
left: 820px;
top: 725px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #000000;
}

.nwInst5{
    position: absolute;
width: 252px;
height: 56px;
left: 961px;
top: 750px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;

color: #000000;   
}

.mapa{
        position: absolute;
        width: 1348px;
        height: 550px;
        left: 0px;
        top: 2468px;
}

.line7{
    position: absolute;
left: 0.97%;
right: 67.85%;
top: 369.12%;
bottom: 100%;

border: 3px solid #000000;
transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.line8{
position: absolute;
left: 66.74%;
right: 0.87%;
top: 369.80%;
bottom: 100%;

border: 3px solid #000000;
transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.titMapa{
    position: absolute;
left: 45.26%;
right: 41.79%;
top: 365.24%;
bottom: 81.62%;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;
}